body{
    background-color: black;
}
.navbar{
    background-color: beige;
    color: black;
    width: 100%;
}
.col-md-4{
    height: 30rem;
    width: 25rem;
    text-align: center;
    justify-items: center;
}

@media screen and (max-width:720px) {
    .navbar{
        width: 100%;
        background-color: beige;
        justify-content: space-between;
    }

}
@media screen and (min-width:420px) {
    .navbar{
        width: 100%;
        background-color: beige;
        justify-content: space-between;
    }

}
.navbar-brand {
    color: black;
    font-size: 40px;
    font-weight: 300;
    font-family: "irish gover";
}
.nav-item{
    color: black;
    font-size: 22px;
    font-family: "italiana";
    padding: 10px;
}
.nav-item a:hover{
    color: rgb(165, 142, 78);
}
.navbar-nav .card-btn{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    width: 30px;
    justify-content: center;
    align-items: center;
}
.card-btn span{
    position: relative;
}
.card-btn span{
    display: flex;
    width: 22px;
    width: 22px;
    background-color: black;
    color: #fff;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
}
.container h2{
    text-align: center;
    color: aliceblue;
}
.container input{
    width: 50%;
    justify-self: center;
    border: 2px solid black;
    border-radius: 20px;
}
@media screen and(max-width: 768px) {
    .container h2{
        text-align: center;

    }
    .container input{
        width: 30%;
    }
    
}
@media screen and(max-width: 480px) {
    .container h2{
        text-align: center;
    }
    .container input{
        width: 30%;
    }
    
}
.row{
    justify-content: center;
}
.card{
    height: max-content;
    width: max-content;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2px;
    transition: right 0.4s ease-in-out; */
}
.cart-container .active ~ .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    transition: right 0.4s ease-in-out;
}
.card img{
    height: 250px;
    width: 350px;
    align-items: center;
    margin: 8px 8px 0;
    border: 1px solid black;
}
.btn{
    width: 10em;
    border: 1px solid rgb(6, 35, 77);
    color: rgb(64, 123, 176);
    margin: 3px;
    justify-content: center;
    align-items: center;
}
.btn:hover{
    background-color: rgb(108, 108, 166);
}
@media screen and (max-width: 768px) {
    .card{
       margin: auto;
       height: auto;
    }
}
@media screen and(max-width: 480px) {
    .card{
        height: auto;
        margin: auto;
    }
    
}
.view{
    border: none;
    position: absolute;
    right: 30px;
}
.details{
    width: 50rem;
    color: rgb(247, 245, 245);
    justify-self: center;
    font-family: "italiaina";
    margin: 30px;
}
@media screen and (max-width:720px) {
    .heading{
        width: 100%;
    }
    .details{
        width: 100%;
    }
}
@media screen and (max-width:420px) {
    .heading{
        width: 100%;
    }
    .details{
        width: 100%;
    }
}
/* login css */
.login-container{
    height: 120px;
    width: 300px;
    margin: 20px;
    background-color: beige;
    justify-self: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.login-content{
    margin: 10px;
}
.login-content input{
    margin: 5px 0;
    width: 100%;
}
/* card css */
.cart-container{
    color: rgb(255, 255, 255);
    background-color: rgb(109, 109, 109);
    width: 25%;
    max-width: 90%;
    position: fixed;
    inset: 0 -400px 0 auto;
    transition: right 0.4s ease-in-out;
    overflow: auto;
}
@media screen and (max-width:720px) {
    .cart-container{
        width: 50%;
    }
}
@media screen and (max-width:420px) {
    .cart-container{
        width: 50%;
    }
}
.cart-container.active {
    right: 0;
}
.cardTab{
    margin: 4px;
}
.cardTab h2{
    text-align: center;
    margin-top: 20px;
} 
.card-items{
    display: grid;
    grid-template-columns: 70px 120px 70px 1fr;
    justify-items: center;
    align-items: center;
    flex: 1;
    margin: 5px;
}
.card-items:nth-child(even){
    color: #000;
    background-color: #c2c2c2;
}
.card-items img{
    height: 60px;
    width: 60px;
}
.cart-info{
    text-align: center;
    gap: 15px;
}
.quantity{
    display: flex;
    gap: 6px;
    text-align: center;
    justify-items: center;
    align-content: center;
    margin: 2px;
}
.minus{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    text-align: center;
    justify-items: center;
    align-content: center;
}
.plus{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    text-align: center;
    justify-items: center;
    align-content: center;
}
.btn-remove{
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: flex;
    border-radius: 20%;
    padding: 4px;
}
.cart-buttons{
    display: flex;
    position: fixed;
    bottom: 0;
}
.cart-buttons .close-btn{
    border: none;
    width: 11rem;
    padding: 2px;
    font-size: 20px;
}
.cart-buttons .checkout-btn{
    border: none;
    width: 10rem;
    padding: 2px;
    font-size: 20px;
    background-color: rgb(239, 210, 66);
}
.close-btn:hover{
    background-color: rgb(121, 121, 121);
}
.checkout-btn:hover{
    background-color: rgb(121, 121, 121);
}